<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'log_reg.css')}}">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Dosis|Josefin+Sans|PT+Sans+Narrow|Poppins');
    </style>
  </head>
  <body>
    <div class="success">
      <h1>Registration Successful</h1>
      <a href='/'><button type="button" name="back" class = "buttons">Go Back</button></a>
    </div>
  </body>
</html>
