*{
  margin: 0px;
  padding: 0px;
}

#wrapper{
  margin: auto;
  text-align: center;
  margin-top: 200px;
}

#wrapper p{
  margin-bottom: 10px;
}

button{
  padding: 5px 10px 5px 10px;
}
#toolow, #toohigh{
  background-color: red;
  color: white;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  width: 200px;
  padding: 10px 0px 10px 0px;
}

#correct{
  background-color: green;
  color: white;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  width: 200px;
  padding: 10px 0px 10px 0px;
}
