{% if posts %}
    {% for post in posts %}
        <div class="col-sm-3">
            <div class="pin">
                <span class="glyphicon glyphicon-pushpin"></span>
            </div>
            <div class="panel panel-warning" style = "height: 200px; font-family: 'Indie Flower', cursive;">
                <div class="panel-heading" style = "font-size:18px;">
                    <b>{{post.created_at}}  </b><a href="/delete/{{post.id}}" id="trash" style="color:#3d0501;"><span class="glyphicon glyphicon-trash pull-right" style="font-size:10px;"></span></a><br>
                </div>
                <div class="panel-body">
                    {{post.content}}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
