<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Portfolio</title>
    <meta title="description" content="This site is dedicated to my portfolio.">

    <style type="text/css">
      *{
        margin: 0px;
        padding: 0px;
      }
      body{
        margin: auto;
        text-align: center;
        padding: 100px 10px 10px 100px;
        width: 1000px;
      }
      p{
        width: 400px;
        margin-left: 300px;
        padding: 10px 10px 10px 10px;
      }
      button{
        padding: 5px 10px 5px 10px;
        margin-left: 30px;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to my portfolio!</h1>
    <p>My name is Yasmeen. This is one of the first projects I am completing at the coding dojo bootcamp in Washington, DC. It is designed to give me practice with the flask application. Feel free to click the buttons below to navigate to see names of other projects I have on my GitHub, as well as a brief description about me!</p>
    <a id="about" href="/about"><button>About Me</button></a>
    <a id="projects" href="/projects"><button>My Projects</button></a>
  </body>
</html>
